# Python
.venv/
.venv-py313-backup/
.venv-py312/
__pycache__/
*.pyc
.pytest_cache/

# Secrets
.env
.env.*
*.pem
*.key

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Terraform - for later
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Logs
*.log